.background {
  background: #c3c3c3;
}

.analyticsItem2_container {
  margin-left: 1rem;
  width: auto;
  height: 15rem;
  border-radius: 0.5rem;
}

.analyticsItem2_heading {
  display: flex;
  padding-top: 0.5rem;
  justify-content: space-between;
}

.para1 {
  margin-left: 1rem;
  font-weight: bold;
}

.para2 {
  margin-right: 1rem;
  font-weight: bold;
}

.analyticsItem2_graph {
  height: 10rem;
  width: 10rem;
  margin-left: 1rem;
  margin-top: 1rem;
  float: left;
}

.analyticsItem2_stats {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.para {
  margin-top: 0.6rem;
  padding: 1rem 1rem;
}

.span {
  margin-left: 1rem;
}

.analyticsItem2_graph p {
  position: absolute;
  top: 25%;
  right: 20%;
}

.analyticsItem2_para {
  margin-left: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .analyticsItem2_container {
    position: absolute;
    top: 60%;
    left: 0;
    width: 22rem;
  }

  .analyticsItem2_para_main {
    margin-right: 9.6rem;
    margin-top: 3rem;
  }

  .analyticsItem2_stats {
    margin-top: -11rem;
  }
}
