.background {
  background: #c3c3c3;
}

.analyticsItem6_container {
  margin-left: 1rem;
  width: auto;
  height: 15rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.left {
  padding-left: 5rem;
  width: 49%;
  height: 15rem;
  float: left;
  border-radius: 0.5rem;
}

.right {
  padding-left: 5rem;
  width: 49%;
  height: 15rem;
  float: right;
  border-radius: 0.5rem;
}
