.background {
  background: #c3c3c3;
}

.analyticsItem6_container {
  margin-left: 1rem;
  width: auto;
  height: 15rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.left {
  padding-left: 5rem;
  width: 49%;
  height: 15rem;
  float: left;
  border-radius: 0.5rem;
}

.right {
  padding-left: 5rem;
  width: 49%;
  height: 15rem;
  float: right;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .analyticsItem6_container {
    position: absolute;
    top: 215%;
    left: 0%;
    width: 20rem;
  }

  .analyticsItem6_container {
    width: 22rem;
  }

  .left {
    padding: 1rem;
    padding-left: 0rem;
    height: 12rem;
    width: 22rem;
    float: left;
  }

  .right {
    margin-top: 1.5rem;
    width: 22rem;
    height: 12rem;
    padding: 1rem;
    float: left;
  }
}
