.background {
  background-color: #c3c3c3;
}

.home_icon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.sidebar_container {
  height: 100vh;
  width: 12rem;
}

.sidebar_list_container {
  display: flex;
}

.sidebar_logo {
  padding: 20px 0px;
  padding-left: 3.7rem;
}

.sidebar_list_items {
  padding: 15px;
  padding-left: 20px;
  list-style-type: none;
}

.active {
  width: 11rem;
  background-color: #c3c3c3;
  border-radius: 0.3rem;
}

.sidebar_list_items:hover {
  width: 11rem;
  background-color: #c3c3c3;
  border-radius: 0.3rem;
}
