.background {
  background: #c3c3c3;
}

.analyticsItem3_container {
  margin-left: 1rem;
  padding: 15px;
  width: auto;
  height: 15rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .analyticsItem3_container {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 22rem;
  }
  .analyticsItem3_container {
    padding: 25px;
    width: auto;
    height: 13rem;
  }
}
