.navigation_container {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

.navigation_searchBar {
  margin-left: 1rem;
  padding-left: 1rem;
  width: 30rem;
  height: 1.8rem;
  border: none;
  border-radius: 1rem;
  background-color: #c3c3c3;
}

.navigation_searchBar_icon {
  position: absolute;
  top: 2.5%;
  left: 41.5%;
  color: #fff;
  background-color: #373737;
  height: 1.6rem;
  width: 3rem;
  border-radius: 1rem;
}

.navigation_utility_iconsContainer {
  margin-left: 25rem;
}

.navigation_utility_icon {
  margin-left: 0.5rem;
  font-size: 2rem;
}

.navigation_span {
  font-size: 1.4rem;
  position: absolute;
  top: 1.9%;
  right: 13.5%;
  padding: 0.2rem 1.8rem;
  padding-left: 0.5rem;
  background-color: #c3c3c3;
  border-radius: 0.3rem;
}

.navigation_profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4%;
  height: 2.5rem;
  width: 7rem;
  border: 0.1rem solid #000;
}

.navigation_profile_container span {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  font-size: 1.3rem;
  font-weight: bolder;
}

.navigation_utility_avatarIcon {
  margin-left: 0.6rem;
  font-size: 2rem;
}

.navigation_utility_arrowIcon {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.2rem;
}

.vertical {
  position: relative;
  top: 2%;
  left: 70%;
  font-size: 2rem;
  background-color: "#c3c3c3";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navigation_searchBar {
    margin-left: -1rem;
    padding-left: 1rem;
    width: 20rem;
    margin-top: 7rem;
  }

  .navigation_searchBar_icon {
    display: none;
  }

  .navigation_utility_iconsContainer {
    display: flex;
    margin-left: -13rem;
    margin-top: 0rem;
    font-size: 1.5rem;
  }

  .navigation_profile_container {
    left: 4%;
  }

  .navigation_utility_arrowIcon {
    display: none;
  }

  .navigation_span {
    top: 1rem;
    right: 3.5%;
  }

  .vertical {
    display: none;
  }
}
